/* FONT FACE */

@font-face {
	font-family: 'Fontin';
	src: url('fonts/fontin/fontin-regular.eot');
	src: url('fonts/fontin/fontin-regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/fontin/fontin-regular.woff') format('woff'),
		 url('fonts/fontin/fontin-regular.ttf') format('truetype'),
		 url('fonts/fontin/fontin-regular.svg#fontin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Fontin';
	src: url('fonts/fontin/fontin-bold.eot');
	src: url('fonts/fontin/fontin-bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/fontin/fontin-bold.woff') format('woff'),
		 url('fonts/fontin/fontin-bold.ttf') format('truetype'),
		 url('fonts/fontin/fontin-bold.svg#fontin') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Baron Neue';
	src: url('fonts/baron_neue/baron_neue.eot');
	src: url('fonts/baron_neue/baron_neue.eot?#iefix') format('embedded-opentype'),
		 url('fonts/baron_neue/baron_neue.woff') format('woff'),
		 url('fonts/baron_neue/baron_neue.ttf') format('truetype'),
		 url('fonts/baron_neue/baron_neue.svg#baron_neueregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Baron Neue';
	src: url('fonts/baron_neue/baron_neue-black.eot');
	src: url('fonts/baron_neue/baron_neue_black.eot?#iefix') format('embedded-opentype'),
		 url('fonts/baron_neue/baron_neue_black.woff') format('woff'),
		 url('fonts/baron_neue/baron_neue_black.ttf') format('truetype'),
		 url('fonts/baron_neue/baron_neue_black.svg#baron_neueblack') format('svg');
	font-weight: 900;
	font-style: normal;
}

/* END FONT FACE */



/* MISC. */

*, input, textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a.a-block {
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	font-size: 1.35rem;
	letter-spacing: .15rem;
	margin: 2rem auto 0;
	padding: 1.5rem;
	text-transform: uppercase;

	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}
a.a-block:hover, a.a-block:active {
	border: 1px solid #19204c;
	background: #19204c;
	color: #fff;
}
div.a-block {
	text-align: center;
}

body {
	font-family: 'Fontin', 'Helvetica', 'Arial', sans-serif;
	font-size: 1.2rem;
}

body > div {
	border-bottom: 1px solid #ddd;
}
body > div:nth-of-type(2n+1) {
	background: #fff;
}
body > div:nth-of-type(2n) {
	background: #f2f3f5;
}

.clearfix:after {
	clear: both;
	content: "";
	display: block;
}

#works, #work {
	padding: 9rem 0;
}
#profil, #savoir-faire {
	padding: 9rem 5%;
}

div > h2 {
	color: #333;
	font-size: 2rem;
	margin-bottom: 1rem;
	text-align: center;
}
div > h3 {
	color: #666;
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	letter-spacing: .2rem;
}

html {
	overflow-y: scroll;
}

input, textarea {
	border: 0;
	outline: 0;
}

p {
	line-height: 1.4;
}

ul {
	list-style: none;
}

.united {
	white-space: nowrap;
}

/* END MISC. */



/* HEADER */

header {
	position: fixed;
	top: 0; right: 0; left: 0;

	background: #19204c;
	background-size: cover;
	border-top: .33rem solid #be9d58;
	font-family: 'Fontin', 'Helvetica', 'Arial', sans-serif;
	height: 37rem; /* nav margin-top */
	z-index: -1;
}

header h1, header h2 {
	color: #be9d58;
	padding: 2rem 5%;
	text-align: center;
}

header h1 {
	font-family: 'Baron Neue';
	font-size: 1rem;
	letter-spacing: 1.3rem;
	line-height: 1;
	padding-top: 0rem;
}
header h1 span {
	display: block;
	font-size: 3rem;
	font-weight: 900;
	letter-spacing: .85rem;
}

header h2 {
	font-size: 1.5rem;
}



header img {
	display: block;
	margin: 2rem auto 0;
}

/* END HEADER */


/* NAV */

#logo {
	float: left;
	margin-top: .15rem;
}

#logo img {
	display: block;
	height: auto;
		max-width: 3rem;
}


nav {
	position: relative;

	background: #fff;
	border-bottom: 1px solid #ddd;
	color: #444;
	font-size: 1.35rem;
	letter-spacing: .15rem;
	padding: .15rem 5%;
}
nav.fixed {
	position: fixed;
	top: 0; right: 0; left: 0;

	margin-top: 0;
	z-index: 99;
}
	header + nav {
		margin-top: 37rem; /* header height */
	}

#nav-input, label[for="nav-input"] {
	display: none;
}

nav li {
	display: inline-block;
	margin-right: .67rem;
}
nav li:last-of-type {
	margin-right: 0;
}

nav li a {
	position: relative;

	display: block;
	font-family: 'Baron Neue', 'Fontin', sans-serif;
	font-size: 1.15rem;
	padding: .5rem;
	text-transform: lowercase;

	-moz-transition: color .3s;
	-webkit-transition: color .3s;
	transition: color .3s;
}
nav li a:hover, nav li a:active {
	color: #be9d58;
}

/* {NAV_ITEM} snippet */
nav li a:before, nav li a:after {
	position: absolute;
	top: 0; bottom: 0;

	color: #be9d58;
	opacity: 0;
	padding: .5rem 0;

	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
}
nav li a:before {
	content: "{";
	left: 3rem;
}
nav li a:after {
	content: "}";
	right: 3rem;
}
nav li a:hover:before, nav li a:active:before {
	left: 0;

	opacity: 1;
}
nav li a:hover:after, nav li a:active:after {
	right: 0;

	opacity: 1;
}
/* end {NAV_ITEM} snippet */

nav ul {
	float: right;
	padding-top: .33rem;
	text-align: center;
}

@media (max-width: 55rem) {
	label[for="nav-input"] {
		cursor: pointer;
		display: inline-block;
		float: right;
		padding: .5em 1em;
		text-align: center;
	}

	#nav-input + ul {
		display: none;
	}
	#nav-input:checked + ul {
		position: absolute;
		top: 150%; left: 0; right: 0;

		background: #fff;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		display: block;
		z-index: 9;
	}

	nav li {
		display: block;
		margin: 0;
	}
	nav li + li {
		border-top: 1px solid #ddd;
	}
	nav li a {
		font-size: 1.2rem;
		padding: .75rem;

		-moz-transition: all .3s;
		-webkit-transition: all .3s;
		transition: all .3s;
	}

	nav li a:hover, nav li a:active {
		background: #fafafa;
	}

	/* hide {nav item} snippet */
	nav li a:before, nav li a:after {
		content: "";
	}
} /* end media max width 55rem */

/* END NAV */



/* CONTENT */

#profil {
	background: url('../img/toulouse-map-67.png') no-repeat center fixed;
	background-size: cover;

	color: #fff;
	padding-right: -moz-calc(5% + 300px);
	padding-right: -webkit-calc(5% + 300px);
	padding-right: calc(5% + 300px);
	text-align: justify;
}


#profil h2 {
	color: #fff;
}
#profil h3 {
	color: #eee;
}




#savoir-faire > div {
	float: left;
	padding: 1rem;
	text-align: center;
	width: 33.33%;
}
@media(max-width: 55rem) {
	#savoir-faire > div {
		float: none;
		width: 100%;
	}
	#savoir-faire > div + div {
		border-top: .33rem solid #be9d58;
		margin-top: 2rem;
		padding-top: 2rem;
	}
}
#savoir-faire > div > h3 {
	font-weight: bold;
	text-transform: uppercase;
}

.separator {
	margin: 1rem;
}
/* END CONTENT */



/* PROGRESS BAR */

.progress-bar {
	position:relative;

	background-color:#f2f0ee;
	border-radius:1rem;
	box-shadow:0 2px 3px rgba(0, 0, 0, 0.25) inset;
	display:block;
	height:1rem;
	width:100%;
}
.progress-bar > span {
	background-color:#19204c;
	border-radius:1rem;
	display:block;
	text-indent:-9999rem;
}
progress[value]{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	border:none;
	color:#19204c;
	height:1rem;
	width:100%;
}
progress[value]::-webkit-progress-bar {
	background-color:#be9d58;
	border-radius:1rem;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.25) inset;
	overflow: hidden;
}
progress[value]::-webkit-progress-value {
	position:relative;

	background:#19204c;
}

/* END PROGRESS BAR */



/* #WORK */

#work {
	background: #fcfcfe;
}

.work {
	margin: 0 auto;
	width: 85%;
}

.work-infos {
	margin: 2rem auto 0;
		max-width: 30rem;
}

.work-infos > a {
	border: 2px solid #19204c;
	color: #19204c;
	display: block;
	font-family: 'Baron Neue', 'Arial', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	text-transform: lowercase;
	padding: .67rem 0;
	text-align: center;

	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.work-infos > a:hover, .work-infos > a:active {
	background: #19204c;
	color: #fff;
}

.work-infos > div {
	border-top: 1px solid #ddd;
	color: #444;
	font-size: 1.05rem;
	margin-top: 1rem;
	padding: 2rem 0;
	text-align: justify;
}

.work-infos h2, .work-infos span {
	color: #999;
	display: block;
	font-size: 1rem;
	font-weight: bold;
	font-family: 'Baron Neue', 'Arial', sans-serif;
	text-transform: lowercase;
}
.work-infos h2 {
	letter-spacing: 0;
	margin: auto;
	text-align: left;
}
.work-infos h2 + p {
	margin-top: .5rem;
}

.work-infos li {
	text-align: center;
}
.work-infos li + li {
	margin-top: 1rem;
}

.work-infos p + h2 {
	margin-top: 2rem;
}

.work-infos ul {
	border-top: 1px solid #ddd;
	padding: 1.5rem 0 1rem;
}

/* #work slider */
.work-poster {
	position: relative;

	margin: auto;
	overflow: hidden;
		max-width: 800px;
}
.work-poster > ul {
	position: relative;
	left: 0;

	list-style: none;

	-ms-transition: left .5s;
	-moz-transition: left .5s;
	-o-transition: left .5s;
	-webkit-transition: left .5s;
	transition: left .5s;
}
.work-poster > ul > li {
	float: left;
	line-height: 0;
}

.work-poster-handler {
	position: absolute;
	top: auto; bottom: 0; left: auto; right: 0;

	background: rgba(0,0,0,.5);
	padding: .33rem .67rem;
}

.work-poster-handler > div {
	background: none;
	border: 1px solid #ddd;
	cursor: pointer;
	float: left;
	height: 1rem;
	margin-left: .5rem;
	width: 1rem;

	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.work-poster-handler > div:first-of-type {
	margin-left: 0;
}
.work-poster-handler > div.selected {
	cursor: default;
}
.work-poster-handler > div.selected, .work-poster-handler > div:hover, .work-poster-handler > div:active {
	border: 1px solid #ddd;
	background: #19204c;
}

/* end #work slider */

.work-poster + h1 {
	color: #fff;
	font-family: 'Baron Neue', 'Arial', sans-serif;
	font-size: 2rem;
	margin: auto;
	text-align: left;
	text-transform: lowercase;
		max-width: 800px; /* fit to .work-poster width */
}

.work-poster + h1 span {
	display: block;
	padding: .33rem 2rem;
}
.work-poster + h1 span:first-of-type {
	background: #19204c;
}
.work-poster + h1 span:last-of-type {
	color: #999;
	font-size: 1rem;
	letter-spacing: 0;
}

/* END #WORK */



/* .WORK-RESUME */
/* Working in px here */

.work-resume {
	position: relative;

	background-size: cover;
	border: 1px solid #ddd;
	cursor: pointer; /* fix little eye catcher blink due to transition <a> */
	display: block;
	float: left;
	height: 333px;
	margin-right: 20px;
	overflow: hidden;
	width: 100%;
		max-width: 333px;

	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.work-resume:nth-of-type(3n) {
	margin: 0 auto;
}
.work-resume:nth-of-type(3n+1) {
	clear: left;
}
.work-resume:nth-of-type(n+4) {
	margin-top: 20px;
}

.work-resume > a {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 100%;

	background: #1a1a1a;
	background: rgba(0,0,0, .67);
	display: table;
	font-family: 'Baron Neue', 'Fontin', 'Arial', sans-serif;
	font-weight: bold;
	height: 100%;
	text-transform: lowercase;
	width: 100%;

	/* mandatory for overlay transition */
	-moz-transtion: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	-webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.work-resume:hover > a, .work-resume:active > a {
	left: 0;
}

.work-resume h2 {
	color: #fff;
	display: table-cell;
	margin: 0;
	vertical-align: middle;
}

.work-resume span {
	display: block;
	margin: 0 auto;
}

.work-resume-group {
	margin: auto;
	text-align: center;
	width: 1040px;
}

@media(max-width: 1080px) and (min-width: 741px) {
	.work-resume {
		height: 222px;
			max-width: 222px;
	}

	.work-resume h2 {
		font-size: 1.2rem;
	}

	.work-resume-group {
		width: 710px;
	}
} /* end @media max-width: 1080px && min-width: 741px */

@media(max-width: 740px) {
	.work-resume {
		clear: both;
		height: 300px;
		margin: 0 auto 2rem;
		width: 300px;
	}

	.work-resume h2 {
		font-size: 1.2rem;
	}

	.work-resume-group {
		width: 300px;
	}
}

/* END .WORK-RESUME */



/* FOOTER */

footer {
	background: #1f1d1f;
	color: #be9d58;
	padding: 2rem 5%;
}

footer h2 {
	margin-bottom: 1rem;
}

/* #SOCIAL */

#social {
	margin-bottom: 1rem;
}

/* END #SOCIAL */

/* END FOOTER */